{% extends "base_sketch.html" %}

{% block content %}

<div class="container">
  <div class="row">
<!--    <div class="col-2 col-sm-2">-->
<!--      left-->
<!--    </div>-->
<!--    <div class="col-8 col-sm-8">-->
      {% if file_name %}
      <div align="center">
        <img src="{{ url_for('display_image', filename=file_name) }}">
        <form id="sketchresult" action="{{ url_for('index')}}">
          <input type="submit" class="btn btn-primary" id='refresh' value="New">
        </form>
      </div>

      {% else %}
      <!--      <div align="center">-->
      <form id="sketchForm"
            align="center"
            action="{{ url_for('index')}}"
            method="POST"
            enctype="multipart/form-data">
        <!--          <canvas id="sketch" name="sketch" style="touch-action:none;" width="800" height="800">-->
        <canvas id="sketch" name="sketch" style="touch-action:none;">
          <script>
              drawBGImage();
          </script>
        </canvas>
        <br>
        <input type="hidden" id='url' name="url" value="">
        <input type="submit" class="btn btn-primary" id='send_sketch' value="Save" onclick="return save();">
      </form>
      <!--      </div>-->
      {% endif %}

<!--    </div>-->
<!--    <div class="col-2 col-sm-2">-->
<!--      right-->
<!--    </div>-->

  </div>
</div>
{% endblock %}
